@model EntityLINQ.Models.MyVM

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h3>Query 1</h3>
    <p>List all customers on View</p>
    <table class="table table-bordered table-striped">
        @foreach (var item in Model.PracticeQuery1)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Birthdate</td>
            </tr>
        }
    </table>
    <br />
    <h3>Query 2</h3>
    <p>List all orders on view</p>
    <table class="table table-bordered table-striped">
        @foreach (var item in Model.PracticeQuery2)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OrderDate</td>
                <td>@item.Description</td>
                <td>@item.OrderTotal</td>
            </tr>
        }
    </table><br />
    <h3>Query 3</h3>
    <p>
        List all orders with a description that contains the letter "a"
    </p>
    <table class="table table-bordered table-striped">
        @foreach (var item in Model.PracticeQuery3)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OrderDate</td>
                <td>@item.Description</td>
                <td>@item.OrderTotal</td>
            </tr>
        }
    </table><br />
    <h3>Query 4</h3>
    <p>
        List all orders that have been made within the last 6 months
    </p>
    <table class="table table-bordered table-striped">
        @foreach (var item in Model.PracticeQuery4)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OrderDate</td>
                <td>@item.Description</td>
                <td>@item.OrderTotal</td>
            </tr>
        }
    </table><br />
    
    <h3>Query 5</h3>
    <p>Find the customer that has an Id of 3
    </p>
    <table class="table table-bordered table-striped">
                @foreach (var item in Model.PracticeQuery5)
        {
                   <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                    </tr>
        }
    </table><br />
</div>

